@import 'partials/global';
@import 'partials/vars';
@import 'partials/header';

body {
  background-color: $background-color;
}

/* code specific to the homepage banner */
#home-banner {
  background-image: url('../img/homebanner.png');
  max-width: 1280px;
  height: 400px;
}

/* reusable code for the banner */
.banner {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
