<div class="col-md-4">
  <div class="box box-primary">
    <div class="box-body box-profile">
      <h3 class="profile-username text-center">{{ name }}</h3>
      <p class="text-muted text-center">{{ username }}</p>
      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Camps Attended</b> <span class="pull-right">{{ camps_attended }}</span>
        </li>
        <li class="list-group-item">
          <b>Weeks Attended</b> <span class="pull-right">{{ weeks_attended }}</span>
        </li>
      </ul>
      <a class="btn btn-block btn-social btn-github" href="http://github.com/{{username}}" target="_blank">
        <i class="fab fa-github" style="color:white;"></i> GitHub
      </a>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-body">
      <strong><i class="fas fa-birthday-cake margin-r-5"></i> Date of Birth</strong>
      <p>{{dob}}</p>
      <hr>
      <strong><i class="fas fa-phone margin-r-5"></i> Contact</strong>
      <p>
        <span class="text-muted">Cellphone:</span> {{ cellphone }}<br/>
        <span class="text-muted">Parents:</span> {{parents}}<br/>
        <span class="text-muted">Parents Phone:</span> {{ phone }}<br/>
        <span class="text-muted">Email:</span> {{ email }}</br/>
      </p>
      <hr>
      <strong><i class="fas fa-id-card margin-r-5"></i> Health Card</strong>
      <p>{{prov}} - {{health}}</p>
      <hr>
      <strong><i class="fas fa-notes-medical margin-r-5"></i> Medical</strong>
      <p>{{medical}}</p>
    </div>
  </div>
</div>
